rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{documentId} {
    	allow read, write: if true;
  	}

    match /postAnalyses/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
